**/__pycache__/
*.pyc

configs/*
!configs/.gitkeep

dataset/cityscapes/*
!dataset/cityscapes/.gitkeep

external/

notebooks/*
!notebooks/.gitkeep

outputs/*
!outputs/.gitkeep

weights/*
!weights/.gitkeep